a{
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    background-color: aliceblue;
    border: 1px solid black;
    margin-bottom: 2px;
}

a :hover{
    background-color: blue;
   color: white;
}